@import "./MainLayoutCompCss/header.css";
@import "./MainLayoutCompCss/footer.css";
@import "./MainLayoutCompCss/body.css";
@import "./UnloginedCompCss/unloginedMatching.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --min-width: 1440px;
  --min-height: 587px;
  --min-height-hf: 100px;
  --main-color: #f55c5c;
  --main-color-2: #3b4254;
  --main-color-3: #658f7e;
  --word-color-1: #2c2c2c;
  --word-color-2: #ffffff;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */
